header{
    text-align: center;
    background-color: blueviolet;
    padding: 20px;
}
main{
   
    text-align: center;
}
nav{
    color: rgb(0, 255, 4);
}
.section{
    padding: 20px;
}
.audio table{
    border: 3px solid black;
    border-collapse: collapse;
    margin: auto;
}
table{
    border: 3px solid black;
    border-collapse: collapse;
    margin: auto;
}
td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
body{
    background-color: blueviolet;
}
.audio{
    border: 5px solid black;
    border-collapse: collapse;
    padding: 10px;
}
img{
    border-radius: 20px;
}
audio{
    border-radius: 20px;
}
h1{
    color: rgb(0, 0, 0);
    background-color: rgb(217, 157, 157);
}